@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;

}

body {
    background-color: #f5f5f5;
}

main {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
}

.container {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
    border-radius: 25px !important;
    -webkit-box-shadow: -3px 4px 8px 0px rgba(112, 171, 55, 0.2);
    -moz-box-shadow: -3px 4px 8px 0px rgba(112, 171, 55, 0.2);
    box-shadow: -3px 4px 8px 0px rgba(112, 171, 55, 0.2);
    border: 1px solid rgba(112, 171, 55, 0.2);
    margin-bottom: 30px;
    background-color: #ffffff;
}

header h1 {
    font-size: 16px;
    font-weight: 400;
}




.first_section {
    padding: 25px;
    border-radius: 10px;
    background-color: #ffffff;
}

.second_section {
    margin-top: 30px;
    display: block;
}

.pneMonthContainer {
    display: none;
}

.bg_ {
    margin-top: 7px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #555;
    background-color: rgb(255, 255, 255);
}

.second_section h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.pr_p {
    font-size: 14px !important;
    font-weight: 500;

}

.pr_h {
    font-size: 10px !important;
    font-weight: 400;
    color: red;
}

.parameters {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #648179;
    padding: 11px 14px;
    background: #F7D14A;
}

.bju_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bju_ {
    text-align: center;
}

.bju_ p {
    font-size: 10px;
    font-weight: 400;
}

.bju_ b {
    font-size: 14px;
    font-weight: 600;
}

.kl_ {
    font-size: 14px;
    text-align: center !important;
    font-weight: 500;

}

.heigt_bd {
    display: none !important;
}

.heigt_bdWeek {
    display: block !important;

}

.rotateBtn {
    rotate: 180deg;
    transition: .7s ease;
}

.he_null1 {
    transition: .7s ease;
    cursor: pointer;
}

.tBody {
    display: none;
    width: 100%;
    margin-top: 20px;
}

.days_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;

}

.RECIPE_block {
    margin-top: 30px;
    line-height: 25px;
}

.reci_fl {
    display: flex;
    justify-content: space-between;

}

.IngrBodyMonth,
.IngrBodyMonth2,
.IngrBodyMonth3,
.IngrBodyMonth4 {
    display: none;
    width: 100%;
    margin-top: 30px;
}

.IngrBodyMonth ul,
.IngrBodyMonth2 ul,
.IngrBodyMonth3 ul,
.IngrBodyMonth4 ul {
    list-style: none;
}

.IngrBodyMonth h3,
.IngrBodyMonth2 h3,
.IngrBodyMonth3 h3,
.IngrBodyMonth4 h3 {
    margin-top: 20px;
}

.RECIPE_block h3 {
    font-size: 14px !important;
    font-weight: 500;
}

.RECIPE_block p,
li,
u,
i {
    font-size: 13px !important;

}

.reci_fl li {
    margin-left: 30px;
}

.recipeBtn {
    width: 100%;
    color: white;
    background-color: #70AB37;
    font-weight: 700;
    border: 0;
    padding: 5px 0;
    border-radius: 35px;
    margin-top: 20px;
    font-size: 10px;
    transition: .4s ease;
}

.recipeBtn:hover {
    background-color: gainsboro;
    color: black;
    transition: .4s ease;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-color: black;
}


.bt_p {
    text-align: center;
    font-weight: 500;
    font-size: 10px !important;
    margin-top: 50px;
}



.buy_sect {
    margin-top: 30px;
}

.buy_sect button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    color: white;
    cursor: pointer;
    transition: .4s ease;

}

.buy_sect a {
    cursor: pointer;
    transition: .4s ease;

}

.buy_sect button:hover {
    background-color: gainsboro;
    transition: .4s ease;
    color: rgb(65, 65, 65);
}

.buy_sect p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}

.first_bt,
.secon_bt {
    background: #F7D14A;
}

.third_bt {
    background: #70AB37;
}


#openModalBtn {
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    max-height: 100%;
    background-color: #ffffff;
    overflow: auto;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid #70AB37;
    color: black;
    -webkit-box-shadow: -3px 4px 8px 0px #70AB37;
    -moz-box-shadow: -3px 4px 8px 0px#70AB37;
    box-shadow: -3px 4px 8px 0px #70AB37;
}

.modalULmodalUL a {
    color: #000000;
}

.modal-content {
    padding: 20px;
    color: #000000;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #70AB37;
    color: #ffffff;
}

.modal.open {
    right: 0;
    opacity: 1;
}






.month_plan {
    margin-top: 7px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #555;
    background-color: #ffffff;
}

.monthPl_section {
    margin-top: 20px;
}

.monthPl_section h2,
.monthPl_section2 h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}


.tMonth_hiden,
.tMonth_hidenD2,
.tMonth_hidenD3,
.tMonth_hidenD4,
.tMonth_hidenD5,
.tMonth_hidenD6,
.tMonth_hidenD7 {
    display: none;
    margin-top: 30px !important;
}


.tMonth_hiden .days_box p,
.tMonth_hidenD2 .days_box p,
.tMonth_hidenD3 .days_box p,
.tMonth_hidenD4 .days_box p,
.tMonth_hidenD5 .days_box p,
.tMonth_hidenD6 .days_box p,
.tMonth_hidenD7 .days_box p {
    font-size: 12px !important;
    font-weight: 500;
}

.tBodyMonth,
.tBodyMonthday2,
.tBodyMonthday3,
.tBodyMonthday4,
.tBodyMonthday5,
.tBodyMonthday6,
.tBodyMonthday7,
.tBodyMonthw1,
.tBodyMonthw2,
.tBodyMonthw3,
.tBodyMonthw4,
.tBodyMonthw5,
.tBodyMonthw6,
.tBodyMonthw7,
.tBodyMonthw11,
.tBodyMonthw22,
.tBodyMonthw33,
.tBodyMonthw44,
.tBodyMonthw55,
.tBodyMonthw66,
.tBodyMonthw77,
.tBodyMonthw111,
.tBodyMonthw222,
.tBodyMonthw333,
.tBodyMonthw444,
.tBodyMonthw555,
.tBodyMonthw666,
.tBodyMonthw777 {
    display: none;
    width: 100%;
    margin-top: 20px;
}


.reci_fl div:nth-of-type(2) {
    max-width: 100%;
}

/* Styles for fullscreen modal */
.animated-modal {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: top 0.5s ease;
    /* Animate top position */
}

.animated-modal.active {
    top: 0;
    /* Slide down */
}

.animated-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 95%;
    text-align: center;
    border-top: 7px solid #70AB37;
}

.animated-modal-content p {
    font-weight: 500;
    font-size: 15px;
    text-align: start;
}

.ModalRe {
    text-align: start;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.preporatonBox {
    margin-top: 20px;
}


.recipeBlock li {
    font-weight: 500;
    margin-left: 30px !important;
}

.open-modal-btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.open-modal-btn:hover {
    background-color: #2980b9;
}


.recipeModal_block {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    border: 0;
    background-color: #70AB37;
    cursor: pointer;
    transition: .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



@media (max-width:500px) {

    .pr_p,
    .second_section h2 {
        font-size: 17px !important;
    }

    .monthPl_section h2,
    .monthPl_section2 h2 {
        font-size: 17px !important;
    }

    .pr_h {
        font-size: 13px !important;
    }

    .kl_ {
        font-size: 13px !important;
    }

    .bju_ p {
        font-size: 11px !important;
    }

    .bju_ b {
        font-size: 12px !important;
    }


    .RECIPE_block h3 {
        font-size: 14px !important;
    }

    .RECIPE_block p,
    li,
    u,
    i {
        font-size: 12px !important;

    }

    .reci_fl li {
        margin-left: 10px !important;
    }

    .reci_fl {
        display: flex;
        justify-content: start;
        gap: 20px;

    }
    .animated-modal-content {
        width: 90%;
        height: 95%;
      
    }

}